<p id="notice"><%= notice %></p>

<% p Hash[*Calendar2020.all.collect{|day| [day.day, day.description]}] %>
<%= hidden_field_tag :links, Hash[*Calendar2020.all.collect{|day|
  [day.day, {text: day.description, has_picture: day.has_picture, header: day.header, footer: day.footer}]
}.flatten].to_json %>

<h1>Calendar2020s</h1>

<div id="calendar2020_day"></div>
<div id="calendar2020_text"></div>
<div id="calendar2020_pic"></div>

<div id="link_to_edit"></div>