<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/jquery-ui.min.css">
  <script src="https://code.jquery.com/jquery-1.7.1.js"></script>
  <script src="/js/jquery-ui.min.js" type="text/javascript"></script>
  <script src="https://vk.com/js/api/xd_connection.js?2" type="text/javascript"></script>
  <script>
    ( function( factory ) {
      if ( typeof define === "function" && define.amd ) {

        // AMD. Register as an anonymous module.
        define( [ "../widgets/datepicker" ], factory );
      } else {

        // Browser globals
        factory( jQuery.datepicker );
      }
    }( function( datepicker ) {

      datepicker.regional.ru = {
        closeText: "Закрыть",
        prevText: "&#x3C;Пред",
        nextText: "След&#x3E;",
        currentText: "Сегодня",
        monthNames: [ "Январь","Февраль","Март","Апрель","Май","Июнь",
          "Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь" ],
        monthNamesShort: [ "Янв","Фев","Мар","Апр","Май","Июн",
          "Июл","Авг","Сен","Окт","Ноя","Дек" ],
        dayNames: [ "воскресенье","понедельник","вторник","среда","четверг","пятница","суббота" ],
        dayNamesShort: [ "вск","пнд","втр","срд","чтв","птн","сбт" ],
        dayNamesMin: [ "Вс","Пн","Вт","Ср","Чт","Пт","Сб" ],
        weekHeader: "Нед",
        dateFormat: "dd.mm.yy",
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: "" };
      datepicker.setDefaults( datepicker.regional.ru );

      return datepicker.regional.ru;

    } ) );

    var selectCalendar2020;

    selectCalendar2020 = function(date) {
      var links;
      links = JSON.parse($('#links').val());
      if (links[date]) {
        $('#calendar2020_text').text('');
        if (links[date]['header'] != '') {
          h4 = $('<h4></h4>').text(links[date]['header']);
          $('#calendar2020_text').append(h4);
        }
        div_main = $('<div class="main_text"></div>');
        div_main.append(links[date]['text']);
        div_outer = $('<div class="text_outer"></div>');
        div_outer.append(div_main);
        $('#calendar2020_text').append(div_outer);
        $('#calendar2020_pic').text('');
        if (links[date]['has_picture']) {
          img = $('<img src="<%= Settings.root_path %>/images/calendar/' + date + '.jpg">"');
          $('#calendar2020_pic').append(img);
        }
      } else {
        $('#calendar2020_text').text('');
        $('#calendar2020_pic').text('');
        h4 = $('<h4></h4>').text('–');
        $('#calendar2020_text').append(h4);
        div_main = $('<div class="main_text"></div>');
        div_main.append('В этот день ничего не случилось');
        $('#calendar2020_text').append(div_main);
      }
    };

    initCalendar = function() {
      dd = new Date();
      dd.setDate(dd.getDate() - 1);
      $('#calendar2020_day').datepicker({
        minDate: new Date('2020-01-01'),
        yearRange: '2020:2020',
        defaultDate: dd,
        onSelect: function(date, datepicker) {
          return selectCalendar2020(date);
        },
        dateFormat: 'yy-mm-dd'
      }, $.datepicker.regional["ru"]);
      selectCalendar2020(dd.toISOString().slice(0, 10));
    };

    <% if !Rails.env.development? %>
    VK.init(function() {
      initCalendar();
    });
    <% else %>
    jQuery(function() {
      initCalendar();
    });
    <% end %>
  </script>
  <style type="text/css">
    #calendar2020_day {
      float: left;
    }
    #calendar2020_text {
      float: left;
      width: 300px;
      height: 213px;
      display: inline-block;
    }
    #calendar2020_text h4 {
      font-weight: bold;
      display: inline-block;
      width: 294px;
      text-align: center;
      background-color: #e4e4e4;
      border-radius: 4px;
      margin: 3px 3px 10px 3px;
      padding-bottom: 8px;
      padding-top: 8px;
      border: 1px solid #cccccc;
      font-family: Arial,Helvetica,sans-serif;
      font-size: 1em;
    }
    #calendar2020_text div.text_outer{
      padding-left: 3px;
    }
    #calendar2020_text div.main_text{
      vertical-align: middle;
      background-color: #e4e4e4;
      border-radius: 4px;
      border: 1px solid #cccccc;
      width: 294px;
      height: 162px;
      margin-left: 3px;
      text-align: center;
      vertical-align: middle;
      display:table-cell;
      font-family: Arial,Helvetica,sans-serif;
      font-size: 1em;
    }
    #calendar2020_pic {
      clear: both;
      width: 581px;
      height: 250px;
      text-align: center;
      padding-top: 3px;
    }
    #calendar2020_pic img {
      max-width: 100%;
      max-height: 100%;
    }
  </style>
</head>
<body style="text-align:center;">
  <%= hidden_field_tag :links, Hash[*Calendar2020.all.collect{|day|
    [day.day, {text: day.description, has_picture: day.has_picture, header: day.header, footer: day.footer}]
  }.flatten].to_json %>
  <div id="calendar2020_day"></div>
  <div id="calendar2020_text"></div>
  <div id="calendar2020_pic"></div>
</body>
</html>