<span style="text-align: center;">
  <h4>Лекарственные взаимодействия</h4>
</span>

<div style="width:40%; float: left; margin-left: 9%;">
  <h5>АРТ</h5>
  <table id="druginteractions_art_drugs">
    <thead>
      <th></th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<div style="width:40%; float: right; margin-right: 9%;">
  <h5>Прочие лекарства</h5>
  <table id="druginteractions_other_drugs">
    <thead>
    <th></th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
