<% if !@topic.community.nil? %>
    <h4>«<%= @topic.community.name %>»</h4>
    <% @community = @topic.community %>
    <%= render partial: 'communities/views' %>
<% end %>

<div style="width: 800px; max-width: 800px;">
  <%= entry_body(@topic) %>
  <br/>
  <hr/>
  <table id="topic_comments" data-source="/topics/<%= @topic.id %>/comments.json">
    <thead>
    <th></th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

