<h4>Пользователь <%= @user.email %>, <%= link_to (@user.vk_id || 'N/A'), 'https://vk.com/id' + @user.vk_id.to_s %></h4>

<table id="permission_user" class="table table-striped">
  <thead>
    <th>Право доступа</th>
    <th></th>
  </thead>
  <tbody>
  <tr>
    <% @permissions.each do |permission| %>
    <tr>
      <td><%= permission.name %></td>
      <td><%= check_box_tag('user_' + @user.id.to_s + '_permission_' + permission.id.to_s, permission.name, permission.id.in?(@user.permission_users.collect{|pu| pu.permission_id}), {'data-user-id' => @user.id, 'data-permission-id' => permission.id}) %></td>
    </tr>
    <% end %>
  </tr>
  </tbody>
</table>