<div style="width:800px; margin:0 auto;">
  <div style="width: 800px; max-width: 800px;">
    <table id="wall" data-source="/wall" class="cell-border">
      <thead>
      <th></th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>