<!DOCTYPE html>
<html>
<head>
  <script src='https://code.jquery.com/jquery-1.7.1.js'></script>
  <script src="https://vk.com/js/api/xd_connection.js?2" type="text/javascript"></script>
  <script>
    VK.init(function() {
      <% if @group_id == 133980650 %>
        $('#uploadbtn').change(function(e){
          $.each(e.target.files, function (index, file) {
            span = $('<span class="filespan button"></span>');
            span.text(file.name);
            $('div#filenames').append(span);
          });
        });
      <% end %>
      $('form#form_submit').submit(function(e) {
        e.preventDefault();
        var formData = new FormData(this);
        $.ajax({
          type: 'POST',
          url: 'https://detivich.org/submit_news.json',
          data: formData,
          success: function(data) {
            $('#message').val('');
            span = $("<span style='width: 570px; background-color: greenyellow'>Ваша новость была отправлена</span>")
            $('div#notification').append(span);
            $('div#filenames').text('');
          }
        });
      });
    });
  </script>
  <style type="text/css">
    .button {
      font-size: 12.5px;
      font-family: sans-serif;
      background-color: #5181b8;
      color: white;
      text-align: center;
      border-radius: 4px;
      padding: 7px 16px 8px 16px;
      border: 0;
      box-sizing: border-box;
    }
    div#filenames {
      margin: 2px;
      padding-top: 6px;
    }
    .button:hover {
      background: #5b88bd;
    }
  </style>
</head>
<body style='text-align:center;'>
  <form id="form_submit">
    <%= hidden_field_tag('api_id', @api_id) %>
    <%= hidden_field_tag('viewer_id', @viewer_id) %>
    <%= hidden_field_tag('group_id', @group_id) %>
    <%= hidden_field_tag('auth_key', @auth_key) %>
    <div id="notification" style="width: 570px;"></div>
    <textarea style='height: 400px; width: 570px;' id="message" name="message"></textarea>
    <br>
    <div align="center">
      <% if @group_id == 133980650 %>

        <label for="uploadbtn" class="uploadButton button">Загрузить файл</label>
        <input style="opacity: 0; z-index: -1;" type="file" name="upload" id="uploadbtn" multiple>
      <% end %>
      <button type="submit" id="submit_news" class="button">Предложить новость</button>
      <% if @group_id == 133980650 %>
        <br>
        <div id="filenames"></div>
      <% end %>
    </div>
  </form>
</body>
</html>