<p id="notice"><%= notice %></p>

<h4>Пересланные сообщения</h4>

<div style="max-width: 800px;">
  <table id="copy_messages" data-source="<%= copy_messages_url(format: "json") %>">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<br>

