<p>
  Доступность любого знания – не только благо, но и проблема современного общества. В море информации одинаково громко звучат голоса учёных и сумасшедших, врачей и шарлатанов, подвижников и злоумышленников.
</p>
<p>
  Наука и медицина развиваются стремительно. Даже специалисту иногда тяжело уследить за новостями и оценить качество и достоверность информации. Не говоря уж о людях без специального образования. Особенно, если появились проблемы со здоровьем. Особенно, если серьезные... когда так хочется поверить в чудо.
</p>
<p>
  Наша цель – дать людям, интересующимся новыми и нестандартными научными подходами, гипотезами, альтернативной медициной, способами оздоровления и омоложения организма, полную картину того, к чему приводят эти теории и методы.
</p>
<p>
  Ведь о положительных результатах очень хорошо рассказывает каждый автор, продвигающий свои идеи. Редко упоминая те случаи, когда обещанных положительных результатов не было. А о самых серьезных последствиях иногда рассказать уже некому.
</p>
<p>
  Здесь Вы найдете материалы, посвящённые самым распространённым заблуждениям:
  <ul>
    <li>
      ВИЧ-диссидентство (отрицание ВИЧ и СПИД);
    </li>
    <li>
      Отказ от вакцинации (движение „антипри“);
    </li>
    <li>
      Сыроедение;
    </li>
    <li>
      Голодание;
    </li>
    <li>
      Альтернативная онкология.
    </li>
  </ul>
</p>
<p>
  Информационные материалы, использованные при описании историй, берутся преимущественно из <i>открытых</i> источников, иными словами, мы используем сообщения (скриншоты), видео, фотографии, которые ранее, до появления их в нашей группе были выложены в <i>публичный</i> доступ в сообществах ВИЧ-диссидентов в сети вконтакте, на личных страничках людей в сети ВКонтакте, на других интернет-ресурсах.
</p>
