<p>
  Цель сообщества: информирование всех желающих о последствиях ВИЧ/СПИД-диссидентской пропаганды на <i>конкретных</i> примерах из жизни людей, принявших диссидентские взгляды и отказавшихся от лечения и профилактики ВИЧ-инфекции у себя и своих детей; обсуждение этих примеров а также других аспектов ВИЧ-диссидентской пропаганды.
</p>
<p>
  <a href="https://vk.com/topic-69659144_33600092">Меморандум группы</a>
</p>
<p>
  Информационные материалы, использованные при описании историй, берутся преимущественно из <i>открытых</i> источников, иными словами, мы используем сообщения (скриншоты), видео, фотографии, которые ранее, до появления их в нашей группе были выложены в <i>публичный</i> доступ в сообществах ВИЧ-диссидентов в сети вконтакте, на личных страничках людей в сети ВКонтакте, на других интернет-ресурсах.
</p>
