/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 * require jquery.ui.all
 *= require jquery-ui
 *= require jquery-ui/smoothness
 *= require bootstrap-select
 *= require dataTables/jquery.dataTables
 *= require select2
 *= require select2-bootstrap
 *= require font-awesome

 *= require_tree .
 *= require_self
 */

/* @import "font-awesome"; */

div.main {
    margin-left: 10px;
    margin-right: 10px;
}

div.public {
    position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 800px;
}

/* @import 'bootstrap';
@import 'bootstrap-sprockets'; */

a {
    color: #2e6e9e !important;
    transition: background-color 0.5s ease;
}

a:hover {
    background-color: #333333;
}

.fa-cherry {
    color: #c40000;
}

.fa-vk-color {
    color: #ccd8e5;
}

div.likes {
    float: right;
    clear: both;
}

span.time {
    color: #939393;
    font-size: 12.5px;
}
.vk-link {
    color: #2a5885;
}
.im-avatar {
    float: left;
    margin-right: 10px;
}

.im-avatar img {
    border-radius: 50%;
    color: transparent;
}

.im-message {
    padding-top: 5px;
    width: 715px;
    max-width: 715px;
    padding-left: 60px;
}

.entry-message {
    padding-top: 5px;
    width: 715px;
    max-width: 715px;
    float: right;
}