// Place all the styles related to the CopyMessages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.im_fwd_log_wrap {
  border-left: 2px solid #dee6ee;
  margin: 0 0 0 3px;
  padding-left: 3px;
}

.im_time {
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  color: hsla(220,8%,51%,.6);
}
