
table.dataTable tr.odd {
//  background-color: #E2E4FF;
  background-color: #ECECEC;
}

table.dataTable tr.odd td.sorting_1 {
//  background-color: #D3D6FF;
  background-color: #E3E3E3;
}

table.dataTable tr.even td.sorting_1 {
//  background-color: #EAEBFF;
  background-color: #F1F1F1;
}
