.public_container {
  width: 795px;
  padding-top: 30px;
  padding-bottom: 30px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  /* give it dimensions */
  min-height: 10em;
}

//div.public {
//  /*position: fixed;*/
//  /* center the element */
//  right: 0;
//  left: 0;
//  margin-right: auto;
//  margin-left: auto;
//  /* give it dimensions */
//  min-height: 10em;
//  width: 795px;
//}
