.members_vk_id {
  margin-bottom: 0;
  font-size: 11px;
  clear: both;
}

table.dataTable td.listing_members_vk_id_td {
  padding: 2px;
}

.list-avatar {
  float: left;
}

.list-avatar img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: transparent;
}

.table-member-info td {
  font-size: 11px !important;
}

.table-member-info button {
  font-size: 11px !important;
}