<h4>Стена сообщества «<%= @community.name %>»</h4>

<%= render 'views' %>

<div style="width: 800px; max-width: 800px;">
<table id="community_wall" data-source="/communities/<%= @community.id %>/wall" class="cell-border">
  <thead>
  <th></th>
  </thead>
  <tbody>
  </tbody>
</table>
</div>