<h4>Стена сообщества</h4>

<%= render 'views' %>

<div>
<table id="community_wall" data-source="/communities/<%= @community.id %>/wall" class="cell-border">
  <thead>
  <th></th>
  </thead>
  <tbody>
  </tbody>
</table>
</div>