<h4>Umfrage</h4>

<ol>
  <% @umfrages.each do |umfrage| %>
  <li>
    <p>Um: <%= umfrage.created_at %></p>
    <% result = JSON.parse umfrage.result %>
    <% result.each do |k, val| %>
      <p>
        <%= k %> : <%= val %>
      </p>
    <% end %>
  </li>
  <% end %>
</ol>
