<!--<p id="notice"><%#= notice %></p>-->

<!--<p>-->
<!--  <strong>Result:</strong>-->
  <%#= @umfrage.result %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Ip address:</strong>-->
  <%#= @umfrage.ip_address %>
<!--</p>-->

<!--<%#= link_to 'Edit', edit_umfrage_path(@umfrage) %> |-->
<%#= link_to 'Back', umfrages_path %>


<h1>Vielen Dank!</h1>