<!DOCTYPE html>
<html>
<head>
  <title>Стена | ВКонтакте</title>

  <link rel="shortcut icon" href="/images/icons/favicons/fav_logo.ico?6">

  <link rel="apple-touch-icon" href="/images/safari_60.png?1">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/safari_76.png?1">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/safari_120.png?1">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/safari_152.png?1">
  <link rel="stylesheet" type="text/css" href="/css/al/common.css"><link rel="stylesheet" type="text/css" href="/css/al/fonts_cnt.css?2660709036">
  <link type="text/css" rel="stylesheet" href="/css/al/page.css"><link type="text/css" rel="stylesheet" href="/css/al/post.css?28202422652"><link type="text/css" rel="stylesheet" href="/css/al/wall.css?28336437627"><link type="text/css" rel="stylesheet" href="/css/al/wide_dd.css?20439510683"><link type="text/css" rel="stylesheet" href="/css/al/ui_common.css?20713027480"><meta property="og:title" content="Запись на стене"><meta property="og:description" content="По адресу г. Санкт-Петербург, ул. Херсонская, 12-14 лит.А пом. 1-Н в бизнес-центре Ренессанс Правда находится офис Mail.ru Group (принадлежит как и Вконтакте Алишеру Усманову) https://yandex.ru/maps/2/saint-petersburg/?source=wizgeo&amp;amp;utm_source=serp&amp;amp;l=map&amp;amp;utm_medium=maps-desktop&amp;amp;mode=search&amp;amp;ll=30..."><link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.vk.com/wall-5940425_250427"><link rel="alternate" href="android-app://com.vkontakte.android/vkontakte/m.vk.com/wall-5940425_250427">
  <!--<script src="/js/jquery-3.3.1.min.js"></script>-->
  <!--<script type="text/javascript">-->
//    jQuery(function() {
//      if (history.pushState && ($('#original_vk_url').length > 0)) {
//        window.history.pushState("object or string", "Title", $('#original_vk_url').val());
//      }
//    });
  <!--</script>-->

  <%= csrf_meta_tags %>
</head>
<body class="mac sf  no_stl no_sett" data-useragent="chrome">
<div id="system_msg" class="fixed"></div>
<div id="utils"><div id="common_css"></div><div id="fonts_cnt_css"></div><div id="page_css"></div><div id="post_css"></div><div id="wall_css"></div><div id="wide_dd_css"></div><div id="ui_common_css"></div><iframe></iframe></div>

<div id="layer_bg" class="fixed" style="height: 409px;"></div><div id="layer_wrap" class="scroll_fix_wrap fixed layer_wrap" style="width: 951px; height: 409px;"><div id="layer" style="width: 949px;"></div></div>
<div id="box_layer_bg" class="fixed" style="height: 409px;"></div><div id="box_layer_wrap" class="scroll_fix_wrap fixed" style="width: 951px; height: 409px;"><div id="box_layer" style="width: 949px;"><div id="box_loader"><div class="pr pr_baw pr_medium" id="box_loader_pr"><div class="pr_bt"></div><div class="pr_bt"></div><div class="pr_bt"></div></div><div class="back"></div></div></div></div>

<div id="stl_left" style="width: 0px;"><div id="stl_bg"><nobr id="stl_text">Наверх</nobr></div></div><div id="stl_side" style="left: 0px; width: 175px; top: 307.882px; height: 101.118px;"></div>

<div class="scroll_fix_wrap _page_wrap" id="page_wrap"><div><div class="scroll_fix" style="width: 960px;">


  <div id="page_header_cont" class="page_header_cont">
    <div class="back"></div>
    <div id="page_header_wrap" class="page_header_wrap" style="width: 960px;">
      <a class="top_back_link" href="" id="top_back_link" style="max-width: 925px;"></a>
      <div id="page_header" class="p_head p_head_l0" style="width: 960px">
        <div class="content">
          <div id="top_nav" class="head_nav">
            <div class="head_nav_item fl_l"><a class="top_home_link fl_l " href="/" aria-label="На главную" accesskey="1"><div class="top_home_logo"></div></a></div>
            <div class="head_nav_item fl_l"><div id="ts_wrap" class="ts_wrap">
              <input name="disable-autofill" style="display: none;">
              <div class="input_back_wrap no_select"><div class="input_back" style="margin: 7px 0px 7px 7px; padding: 6px 6px 6px 19px;"><div class="input_back_content" style="width: 210.00001525878906px;">Поиск</div></div></div><input type="text"  class="text ts_input" id="ts_input" autocomplete="off" name="disable-autofill" aria-label="Поиск">
            </div></div>
            <div class="head_nav_item fl_l head_nav_btns"><span id="top_audio_layer_place"></span></div>
            <div class="head_nav_item fl_r"><a class="top_nav_link" href="" id="top_switch_lang" style="display: none;">
              Switch to English
            </a><a class="top_nav_link" href="/join" id="top_reg_link" style="">
              регистрация
            </a></div>
            <div class="head_nav_item_player"></div>
          </div>
          <div id="ts_cont_wrap" class="ts_cont_wrap"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="page_layout" style="width: 960px;">
    <div id="side_bar" class="side_bar fl_l" style="top: 0px;">
      <div id="side_bar_inner" class="side_bar_inner">
        <div id="quick_login" class="quick_login">
          <div>
            <iframe class="upload_frame" id="quick_login_frame" name="quick_login_frame"></iframe>
          </div>
          <div class="label">Телефон или email</div>
          <div class="labeled"><input type="text" class="dark"></div>
          <div class="label">Пароль</div>
          <div class="labeled"><input type="password" class="dark"></div>
          <input type="submit" class="submit">
          <button class="quick_login_button flat_button button_wide" id="quick_login_button">Войти</button>
          <button class="quick_reg_button flat_button button_wide" id="quick_reg_button" style="">Регистрация</button>
          <div class="clear forgot"><div class="checkbox" id="quick_expire" role="checkbox" aria-checked="false" tabindex="0">Чужой компьютер</div><a id="quick_forgot" class="quick_forgot" href="/restore" target="_top">Забыли пароль?</a></div>
        </div>
      </div>
    </div>

    <div id="page_body" class="fl_r " style="width: 795px;">
      <div id="header_wrap2">
        <div id="header_wrap1">
          <div id="header" style="display: none">
            <h1 id="title"></h1>
          </div>
        </div>
      </div>
      <div id="wrap_between"></div>
      <div id="wrap3"><div id="wrap2">
        <div id="wrap1">
          <div id="content" class=""><div class="wide_column_left">
            <%= yield %>
          </div>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div id="footer_wrap" class="footer_wrap fl_r" style="width: 795px;"><div class="footer_nav" id="bottom_nav">
      <div class="footer_copy fl_l"><a href="/about">ВКонтакте</a> © 2018</div>
      <div class="footer_lang fl_r">Язык:<a class="footer_lang_link">все языки »</a></div>
      <div class="footer_links">
        <a class="bnav_a" href="/about">о компании</a>
        <a class="bnav_a" href="/support?act=home" style="display: none;">помощь</a>
        <a class="bnav_a" href="/terms">правила</a>
        <a class="bnav_a" href="/ads" style="">реклама</a>

        <a class="bnav_a" href="/dev">разработчикам</a>
        <a class="bnav_a" href="/jobs" style="display: none;">вакансии</a>
      </div>
    </div>

      <div class="footer_bench clear">

      </div></div>

    <div class="clear"></div>
  </div>
</div>
</div>
</div>
<div class="progress" id="global_prg"></div>
</body>
</html>
