<h4>Предварительная информация о персоне</h4>

<%= render 'info' %>

<p>
  <%= form_for(@member, url: {controller: :members, action: :check}) do |f| %>
      <%= f.text_field :screen_name %>
      <%= submit_tag 'Проверить' %>
  <% end %>
</p>
