<h4>Информация о персоне</h4>

<%= render 'info' %>

<%= link_to 'Друзья в сообществах', @member %>
<%= link_to 'Комментарии', {controller: :members, action: :comments, id: @member.id} %>


<%= render 'friends' %>