<h4>История</h4>

<%= render 'info' %>

<% @member.member_histories.order(:created_at).each do |member_history| %>
  <h4>До <%= member_history.created_at %></h4>
  <div class="span6">
    <table class="table table-condensed table-responsive-sm table-member-info">
      <%= render partial: 'info_chunk', locals: {member: member_history} %>
    </table>
  </div>
<% end %>