<h4>Информация о персоне</h4>

<%= render 'info' %>

<%= render 'views' %>

<%= render 'member_of' %>
<%= render 'friends_in_communities' %>

<% if @member.is_friend %>
<div class="panel panel-warning">
  <div class="panel-heading">Отслеживается частично (друг или фолловер одного из отслеживаемых). Используйте функцию
  «Добавить» для более полного отслеживания</div>
</div>
<% end %>