<h4>Информация о персоне</h4>

<%= render 'info' %>

<%= render 'views' %>

<%= render 'member_of' %>
<%= render 'friends_in_communities' %>

<% if !@member.is_monitored %>
<div class="panel panel-warning">
  <div class="panel-heading">Отслеживается частично. Используйте функцию «Добавить» для более полного отслеживания</div>
</div>
<% end %>